@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500&family=Poppins:wght@300;400&display=swap');

body {
    background-color: black;
    letter-spacing: 1px;
    font-family: 'Poppins', sans-serif;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Oswald', sans-serif;
}

button {
    letter-spacing: 1.5px;
}